.loader {
  border: 10px solid #f3f3f300;
  border-top: 10px solid rgb(0, 255, 0);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.play {
  border-left: 30px solid rgb(0, 134, 0);
  border-right: 0px solid rgb(0, 131, 0);
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  width: 0px;
  height: 0px;
}

.play:hover {
  border-left: 30px solid rgb(0, 255, 0);
  border-right: 0px solid rgb(0, 255, 0);
}

.gear {
  display: inline-block;
  position: relative;
  margin: 0.2em;
  width: 1em;
  height: 1em;
  background: rgb(44, 44, 44);
  border-radius: 50%;
  border: 0.2857142857em solid rgb(83, 83, 83);
  box-sizing: border-box;
}

.gear:before, .gear:after {
  content: "×";
  position: absolute;
  z-index: -1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "times new roman";
  font-weight: bold;
  font-size: 2.5em;
  color: rgb(180, 180, 180);
}

.gear:after {
  transform: translate(-50%, -50%) rotate(45deg);
}

.gear:hover {
  background: rgb(124, 124, 124);
}
